# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SecondTry.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\C#\SecondTry\.idea\.idea.SecondTry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
