@page
@model SecondTry.Pages.Main

@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Main</title>
</head>
<body>
<table>
    <thead>
    <!-- Table's Header -->
    <tr id="head">
        <td>Date</td>
        <td>Birthday Person</td>
    </tr>
    </thead>
    <tbody>
        <!-- Body of the Table -->
    </tbody>
</table>
</body>
</html>